<%- include ("partials/header") %> 

<div class="container">
    <h1> - Take some Notes - </h1>
    <form class="new-form" action="./notes" method="post">
        <label for="content">Note</label>
        <textarea name="content" id="" cols="10" rows="3"></textarea>
        <label for="author">Your Name</label>
        <input type="text" name="author">
        <button type="submit">Create Note</button>
    </form>

    <% notes.forEach(element => {%> 
        <div class="note">
            <form id="update" action="./notes/update/<%= element.id %>?_method=PUT" method="post">
                <textarea name="note"><%= element.content %></textarea>
            </form>
            <!-- <p class="content"><%= element.content %></p> -->
            <div class="right">
                <p class="author">- <%= element.author %></p>
                <form action="./notes/delete/<%= element.id %>?_method=DELETE" method="POST">
                    <button class="del-btn"type="submit">delete</button>
                    <button form="update" class="update-btn" type="submit">Update</button>
                </form>
            </div>
        </div>
    <% }); %>
</div>

<%- include ("partials/footer") %> 
